// Sass allows the use of variables in css.
$primary_color: #007bff;
$primary_hover_color: #9db500;
$success_color: #28a745;
$success_hover_color: #218838;
$title_color: #333;


body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color:wheat
}

.content{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px $title_color;
    text-align: center;

    h1{
        color: $primary_color;
    }
    table{
        width: 100%;
        margin-top: 20px;
        //border-collapse: collapse;

        th,td{
            padding: 10px;
            border: 1px solid #ccc;
            
            th{
                background-color: #f0f0f0;
            }
        }

    }

    a {
        display: inline-block;
        padding: 8px 16px;
        margin: 5px;
        border-radius: 20px;
        background-color: $primary_color;
        color: #fff;
        text-decoration: none;
        
        &:hover{
            background-color: $primary_hover_color;
        }
    }

    #btn-add {
        background-color: $success_color;
        color: #fff;
        cursor: pointer;

        &:hover{
            background-color: $success_hover_color;
        }
    }
}



